/*
 * Game makers styles
 */

.root {
  padding-top: 4rem;
  text-align: center;
}

.top,
.nav,
.makers {
  margin: auto;
  max-width: 68rem;
}

.top {
  padding: 0 2rem;
  margin: 2rem auto;
  h1 {
    margin: 0;
    font-weight: 400;
  }
}

.makers {
  padding: 0.5rem 2rem 2.5rem;
}

.nav {
  height: 4rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $grey3;
  i {
    margin-right: 1rem;
  }
}

@media (min-width: $sm) {
  .root {
    padding-top: 5rem;
  }
  .top {
    margin: 2rem auto 1.5rem;
  }
}

@media (min-width: $md) {
  .top {
    margin: 2.5rem auto 2rem;
  }
}

@media (min-width: $lg) {
  .nav {
    width: 100%;
    border: none;
    left: 50%;
    top: 7.25rem;
    position: absolute;
    transform: translateX(-50%);
  }
}
