/*
 * Date input styles
 */

.root {
  width: 100%;
  color: $white;
  padding: 1.5rem 0;
  position: relative;
  text-align: left;
  & > div {
    display: block;
  }
  label {
    font-size: 0.75rem;
    top: 0;
    color: $grey4;
    margin: 0.25rem 0 0;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition: all 0.125s ease, text-transform 0.1s ease;
    &[required]::after {
      content: '*';
      padding-left: 0.25rem;
      color: $white;
    }
  }
  .error {
    font-size: 0.85rem;
    color: $red;
    bottom: -0.25rem;
  }
  label,
  .error {
    padding: 0.25rem 0;
    position: absolute;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  input {
    border: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #9E9E9E;
  }
  .line {
    display: block;
    width: 0;
    height: 1px;
    background: $yellow;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
    bottom: 1.5rem;
    &:global(.error) {
      background: $red;
    }
  }
  input:focus {
    outline: 0;
  }
  :global(.react-datepicker__tether-enabled) ~ .line,
  &.filled .line {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }
}

@media (min-width: $md) {
  .root {
    padding: 1.65rem 0;
    label {
      padding: 0.15rem 0;
    }
    .line {
      bottom: 1.65rem;
    }
    .error {
      padding: 0.15rem 0;
    }
  }
}
