/*
 * Join styles
 */

.root {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4rem;
  h2 {
    font-size: 1.5rem;
    margin: 2rem auto;
    padding: 0 2rem;
  }
}

@media (min-width: $sm) {
  .root {
    padding-top: 5rem;
  }
}
