/*
 * Edit profile styles
 */

.root {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}

.top,
.steps {
  margin: auto;
  max-width: 56rem;
}

.top {
  padding: 0 2rem;
  margin: 2rem auto;
  h1 {
    margin: 0;
    font-weight: 400;
  }
}

.steps {
  padding: 0 0 2.5rem;
  :global {
    .step {
      padding-bottom: 2rem;
      h2 {
        color: $grey4;
        width: 100%;
        display: block;
        margin-bottom: 2rem;
        padding: 1.25rem 1.5rem;
        font-size: 1.15rem;
        text-align: left;
        background: $grey3;
      }
    }
    .input,
    .checkbox,
    .footnote {
      max-width: 85%;
      margin: auto;
    }
    .error {
      color: $red;
    }
    .checkbox {
      font-size: 1.15rem;
      text-align: left;
    }
    .footnote {
      margin-top: 2.5rem;
    }
    .btn {
      margin-top: 0.5rem;
    }
  }
}

@media (min-width: $sm) {
  .root {
    padding-top: 5rem;
  }
  .top {
    margin: 2rem auto 1.5rem;
  }
  .steps {
    padding-top: 0.5rem;
    :global {
      .step {
        h2 {
          padding: 1rem 1.75rem;
        }
      }
      .input {
        width: 26rem;
      }
      .step:first-of-type .textarea {
        width: 100%;
        max-width: 92.5%;
      }
      .checkbox {
        max-width: 20rem;
        margin: 0;
      }
      .footnote {
        margin: 4rem auto 1rem;
      }
      .btn {
        margin-top: 1.5rem;
      }
    }
  }
}

@media (min-width: $md) {
  .top {
    margin: 2.5rem auto 2rem;
  }
}
