/*
 * Phone input styles
 */

.root {
  width: 100%;
  color: $white;
  padding: 1.5rem 0;
  position: relative;
  text-align: left;
  & > div {
    display: block;
  }
  label {
    font-size: 0.75rem;
    top: 0;
    color: $grey4;
    margin: 0.25rem 0 0;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition: all 0.125s ease, text-transform 0.1s ease;
    &[required]::after {
      content: '*';
      padding-left: 0.25rem;
      color: $white;
    }
  }
  .error {
    font-size: 0.85rem;
    color: $red;
    bottom: -0.25rem;
  }
  label,
  .error {
    padding: 0.25rem 0;
    position: absolute;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  input {
    border: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #9E9E9E;
  }
  .line {
    display: block;
    width: 0;
    height: 1px;
    background: $yellow;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
    bottom: 1.5rem;
    &:global(.error) {
      background: $red;
    }
  }
  input:focus {
    outline: 0;
  }
}

:global {
  .react-tel-input {
    color: black !important;
    width: 100% !important;
    font-family: sans-serif !important;
    font-size: 1rem !important;
    border-bottom: 1px solid #9E9E9E !important;
    input[type=tel],
    input[type=text] {
      color: $white !important;
      background: none !important;
      box-shadow: none !important;
      line-height: normal !important;
      height: auto !important;
      padding: 0.5rem 0 0.5rem 3rem !important;
      border: none !important;
      border-radius: 0 !important;
    }
    .selected-flag {
      height: 100% !important;
      border-radius: 0 !important;
      padding: 0 0 0 2px !important;
      .arrow {
        border-top: 4px solid $grey4 !important;
      }
      .arrow.up {
        border-top: none !important;
        border-bottom: 4px solid $grey4 !important;
      }
    }
    .flag-dropdown {
      border: none !important;
      border-radius: 0 !important;
      background: none !important;
      &:hover .selected-flag,
      &.open-dropdown .selected-flag {
        border-radius: 0 !important;
        background: none !important;
      }
    }
    .country-list {
      top: 2.15rem !important;
      color: $white !important;
      border: 1px solid $grey1 !important;
      border-radius: 0 0 6px 6px !important;
      background-color: $grey3 !important;
      border-color: $grey1 !important;
      .divider {
        display: none !important;
      }
      .country.highlight,
      .country:hover {
        background-color: $grey2 !important;
      }
    }
  }
}

@media (min-width: $md) {
  .root {
    padding: 1.65rem 0;
    label {
      padding: 0.15rem 0;
    }
    .line {
      bottom: 1.65rem;
    }
    .error {
      padding: 0.15rem 0;
    }
  }
  :global {
    .react-tel-input {
      input[type=tel],
      input[type=text] {
        padding-left: 2.5rem !important;
      }
    }
  }
}
