/*
 * Terms styles
 */

.root {
  padding: 6rem 2rem 1rem;
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  h3 {
    font-size: 1.75rem;
    margin: 0 0 1rem;
    text-align: center;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
  ul{
    padding-left: 20px;
  }
}

@media (min-width: $sm) {
  .root {
    padding: 7rem 2rem 1rem;
    h3 {
      font-size: 2rem;
      margin: 0 0 1.5rem;
    }
   
  }
}
