/*
 * Button styles
 */

.root {
  color: $black;
  position: relative;
  font-weight: 500;
  border-radius: 4px;
  min-width: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  padding: 0.5rem 2.5rem;
  border: 2px solid transparent;
  transition: color 0.25s ease-out, background-color 0.25s ease-out, border 0.25s ease-out;
  &:hover {
    color: $black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  }
  &:global(.yellow) {
    background-color: $yellow2;
    &:hover {
      background-color: $yellow;
    }
  }
  &:global(.blue) {
    color: $white;
    background-color: $blue;
    &:hover {
      background-color: $blue2;
    }
  }
  &:global(.transparent) {
    color: $yellow2;
    background: transparent;
    border: 2px solid $yellow2;
    &:hover {
      color: $yellow;
      background: transparent;
      border: 2px solid $yellow;
    }
  }
  &:global(.transparent-job) {
    color: $grey4;
    border: 1px solid $grey4;
    background: transparent;
    cursor: auto;
    &:hover {
      color: $grey4;
      box-shadow: none;
    }
  }
}

@media (min-width: $sm) {
  .root {
    border-radius: 6px;
    padding: 0.6rem 2.5rem;
  }
}

@media (min-width: $md) {
  .root {
    padding: 0.75rem 4rem;
  }
}
